@{
    ViewBag.Title = "PDTHome";
    Layout = "~/Areas/PDT/Views/Shared/PDTLayout.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Trang chủ phòng đào tạo</title>
</head>
<body>
    <div>
        Đây là trang chủ của phòng đào tạo.
    </div>
</body>
</html>
