
@{
    ViewBag.Title = "PDTmodule2";
    Layout = "~/Areas/PDT/Views/Shared/PDTLayout.cshtml";
}
<!DOCTYPE html>
<head>

    <meta name="viewport" content="width=device-width" charset="utf-8" />
    <title>Sự kiện - Tin tức</title>
    @*<link rel="stylesheet" />*@

</head>
<body>
    <div class="generalFont">
        <div class="bg-gradient-light">
            <div id="header" class="page-header" role="banner">
                <div class="container">
                    <div class="header-section">
                        <a class=" d-inline" href="~/Areas/PDT/Views/PDT/PDTmodule1.cshtml" title="Phòng Đào tạo Đại học" rel="alternate">
                            <img style="width:auto; height:auto" src="~/Content/img/banner_uit_15.png" alt="Phòng Đào tạo Đại học" role="presentation">
                        </a>
                        <a class="h2" style="float:right; color:blue; font-weight:700; font-family:Cambria ; margin:15px 0 0 200px; position:absolute">PHÒNG ĐÀO TẠO ĐẠI HỌC</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div>
        <h3 class="generalStyle text-danger font-weight-bold mt-2">SỰ KIỆN - TIN TỨC</h3>
        <br />
    </div>
</body>

