
@{
    ViewBag.Title = "PDTmodule1";
    Layout = "~/Areas/PDT/Views/Shared/PDTLayout.cshtml";
}
<!DOCTYPE html>
<head>

    <meta name="viewport" content="width=device-width" charset="utf-8" />
    <title>Biểu đồ kế hoạch đào tạo</title>
    @*<link rel="stylesheet" />*@

</head>
<body>
    <div class="generalStyle card">
        <div class="bg-gradient-light">
            <div id="header" class="page-header" role="banner">
                <div class="container">
                    <div class="header-section">
                        <a class=" d-inline" href="~/Areas/PDT/Views/PDT/PDTmodule1.cshtml" title="Phòng Đào tạo Đại học - Kế hoạch năm" rel="alternate">
                            <img style="width:auto; height:auto" src="~/Content/img/banner_uit_15.png" alt="banner" role="presentation">
                        </a>
                        <a class="h2" style="float:right; color:blue; font-weight:700; font-family:Cambria, sans-serif ; margin:15px 0 0 200px; position:absolute">PHÒNG ĐÀO TẠO ĐẠI HỌC</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div>
        <h3 class="generalStyle text-danger font-weight-bold mt-1">BIỂU ĐỒ KẾ HOẠCH ĐÀO TẠO</h3>
        <br />
        <div class="pre-scrollable">
            <img style="width: 100%; height: 800px;" src="~/Content/img/2020-2021.jpg" alt="Biểu đồ kế hoạch năm 2020-2021" role="presentation">
            <img style="width: 100%; height: 800px;" src="~/Content/img/2019-2020.jpg" alt="Biểu đồ kế hoạch năm 2019-2020" role="presentation">
            <img style="width: 100%; height: 800px;" src="~/Content/img/2018-2019.png" alt="Biểu đồ kế hoạch năm 2018-2019" role="presentation">
        </div>
    </div>
</body>

