
@{ ViewBag.Title = "PDTmodule2";
                Layout = "~/Areas/PDT/Views/Shared/PDTLayout.cshtml"; }
<!DOCTYPE html>
<head>

    <meta name="viewport" content="width=device-width" charset="utf-8" />
    <title>Giới thiệu</title>
    @*<link rel="stylesheet" />*@

</head>
<body>
    <div class="generalStyle card">
        <div class="bg-gradient-light">
            <div id="header" class="page-header" role="banner">
                <div class="container">
                    <div class="header-section">
                        <a class=" d-inline" href="~/Areas/PDT/Views/PDT/PDTmodule1.cshtml" title="Phòng Đào tạo Đại học" rel="alternate">
                            <img style="width:auto; height:auto" src="~/Content/img/banner_uit_15.png" alt="Phòng Đào tạo Đại học" role="presentation">
                        </a>
                        <a class="h2" style="float:right; color:blue; font-weight:700; font-family:Cambria ; margin:15px 0 0 200px; position:absolute">PHÒNG ĐÀO TẠO ĐẠI HỌC</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div>
        <h3 class="generalStyle text-danger font-weight-bold mt-1">GIỚI THIỆU</h3>
    </div>
    <div class="generalStyle" style="color:black; font-size:0.9rem; opacity:0.95">
        <p>
            <h3 class="text-danger generalStyle font-weight-bold">Chức năng, nhiệm vụ của Phòng Đào tạo Đại học</h3>
            <div class="text-primary generalStyle font-weight-bold" style="font-size:0.9rem;">Chức năng - Nhiệm vụ (Trích từ Quyết định 130/QĐ-ĐHCNTT-TCHC của Hiệu trưởng Trường ĐHCNTT ngày 10/4/2012):</div>
            <span class="generalStyle" style="color:black;"><strong>Chức năng:</strong></span> <span class="generalStyle" style="color:black;">Tham mưu và giúp Hiệu trưởng trong việc định hướng, phát triển công tác đào tạo đại học của Trường. Tổ chức thực hiện, kiểm tra giám sát toàn bộ công tác giảng dạy, học tập các hệ và loại hình đào tạo bậc đại học của Trường.</span>
            <div class="generalStyle" style="color:black;"><strong>Nhiệm vụ:</strong></div>
            <div>
                - Nghiên cứu, đề xuất phương hướng phát triển của Trường về mục tiêu đào tạo, các hệ đào tạo, cơ cấu ngành nghề, quy mô và phương thức đào tạo.
            </div>
            <div>
                - Hướng dẫn các đơn vị đào tạo xây dựng và phát triển các ngành và chuyên ngành đào tạo mới, các chương trình đào tiên tiến, chương trình chất lượng cao, cải tiến chương trình đào tạo, phương pháp giảng dạy - học tập, đề cương học phần, tài liệu học tập.
            </div>
            <div>
                - Chủ trì, phối hợp với các đơn vị liên quan xây dựng và trình Hiệu trưởng ban hành các văn bản quản lý đào tạo. Đề xuất với Hiệu trưởng ban hành những quy định về quản lý quá trình đào tạo các hệ đào tạo đại học.
            </div>
            <div>
                - Đề xuất chỉ tiêu và tổ chức tuyển sinh đối với các hệ đào tạo đại học. Tham gia theo dõi, đề xuất Hiệu trưởng chỉ đạo thực hiện chỉ tiêu tuyển sinh sau khi Bộ Giáo dục và Đào tạo phê duyệt.
            </div>
            <div>
                - Chủ trì tổ chức tiếp nhận, bố trí sắp xếp SV trúng tuyển vào các chuyên ngành theo quy định của Trường và thuộc thẩm quyền quản lý của Phòng. Bàn giao danh sách lớp SV cho các đơn vị có liên quan. Phối hợp với Phòng Công tác sinh viên quản lý, kiểm tra hồ sơ SV.
            </div>
            <div>
                - Xây dựng, trình Hiệu trưởng phê duyệt và thực hiện điều độ kế hoạch giảng dạy, học tập theo học kỳ và năm học. Phối hợp với các khoa, bộ môn trực thuộc phân công GV, lập thời khóa biểu giảng dạy, học tập và lịch thi học phần của các hệ được phân công.
            </div>
            <div>
                - Phối hợp với Phòng Thanh tra-Pháp chế-Đảm bảo chất lượng tổ chức kiểm tra, giám sát hoạt động giảng dạy, thực hiện chế độ công tác của GV; chấp hành quy chế đào tạo của SV, học viên.
            </div>
            <div>
                - Quản lý phôi bằng và chủ trì, phối hợp với các đơn vị có liên quan làm thủ tục cấp bằng tốt nghiệp các hệ đại học của Trường. Xác minh tính hợp pháp về văn bằng của SV, học viên thuộc Phòng quản lý khi có yêu cầu.
            </div>
            <div>
                - Quản lý, lưu trữ bài và điểm thi tuyển sinh, tốt nghiệp, lưu trữ điểm thi học phần của các hệ đại học. Thực hiện công tác văn thư, lưu trữ và thống kê phục vụ công tác quản lý của Phòng và của Trường.
            </div>
            <div>
                - Thẩm định và xác nhận số giờ giảng của GV cho các hệ đào tạo đại học.
            </div>
            <div>
                - Đầu mối đề xuất trình Hiệu trưởng xét: chuyển đi, chuyển đến, xét lên lớp, dừng học, tiếp tục học, thôi học cho SV các hệ đào tạo đại học.
            </div>
            <div>
                - Phối hợp kiểm tra, đôn đốc việc thu nộp học phí của các hệ đào tạo do đơn vị quản lý.
            </div>
            <div>
                - Phối hợp với Ban Quản lý cơ sở xếp phòng học theo thời khóa biểu và kết quả đăng ký học phần.
            </div>
            <div>
                - Phối hợp với phòng Công tác Sinh viên tổ chức lễ khai giảng và lễ tốt nghiệp.
            </div>
            <div>
                - Quản lý các nội dung thông tin đào tạo đại học.
            </div>
        </p>
    </div>
</body>

