
@{
    ViewBag.Title = "SVHome";
    Layout = "~/Areas/SV/Views/Shared/SVLayout.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Trang chủ sinh viên</title>
</head>
<body>
    <div>
        Trang chủ sinh viên.
    </div>
</body>
</html>

