<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Error!!</title>
</head>
<body>
    <div>
        Tên đăng nhập hoặc mật khẩu sai! Xin vui lòng quay lại trang trước nhập lại.
    </div>
    @Html.ActionLink("Quay lại", "Login", "Login");
</body>
</html>
