@{
    ViewBag.Title = "AdminHome";
    Layout = "~/Areas/Admin/Views/Shared/AdminLayout.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Trang quản trị hệ thống</title>
</head>
<body>
    <div>
        Trang quản trị hệ thống dành cho người quản trị.
    </div>
</body>
</html>
