@{
    ViewBag.Title = "Website Quản lý Đăng ký môn học và Thu học phí của sinh viên";
}
<h2 class="alert-info" style="text-align:center">@ViewBag.Title</h2>

<p>
    <br />
    <h3>Thông tin nhóm thực hiện:</h3>
    1. Thành viên thứ nhất: Nguyễn Văn Hiếu<br />
    2. Thành viên thứ hai: Phạm Phúc Hậu<br />
    3. Thành viên thứ ba: Nguyễn Viết Quý<br />
    4. Thành viên thứ tư: Bùi Văn Tình<br />
</p>
