@{
    ViewBag.Title = "Thông tin liên hệ";
}
<h2 class="alert-info" style="text-align:center;">@ViewBag.Title</h2>

<address>
    <br />
    Khoa Công Nghệ Phần Mềm<br />
    Trường Đại học Công nghệ Thông tin - ĐHQG TP. Hồ Chí Minh<br />
    <abbr title="Điện thoại">ĐIỆN THOẠI:</abbr>
    (028) 372 52002
    <br />
    <abbr title="Fax">FAX:</abbr>
    (028) 372 52148
</address>

<address>
    <strong>Liên hệ: </strong><a href="info@uit.edu.vn">info@uit.edu.vn</a><br />
</address>