@{
    ViewBag.Title = "Trang chủ";
}

<div class="jumbotron">
    <h1>ĐĂNG KÝ HỌC PHẦN</h1>
    <p class="lead">
        Website đăng ký môn học và quản lý thu học phí Trường Đại học Công nghệ Thông tin - ĐHQG TP. Hồ Chí Minh
        <br />
        Sinh viên cần đăng nhập để thực hiện việc đăng ký học phần.
    </p>
</div>

