@model IEnumerable<QLDKMH_CNPM.Models.NHOMNGUOIDUNG>

@{ 
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/AdminLayout.cshtml"; 
}

<!--Page Heading-->
<h3 class="mb-1 text-danger controllerStyle">DANH SÁCH NHÓM NGƯỜI DÙNG</h3>

<!--DataTable Showing-->
<!--Thêm class="card" để scroll nội dung mà không scroll sidebar-->
<div class="bg-light card generalStyle">
    <div class="py-2 m-0">
        <span>
            @Html.ActionLink("Thêm Nhóm người dùng", "Create", null, new { @class = "btn btn-primary btnStyle" })
        </span>
    </div>

    <div id="dataTable_wrapper" class="dataTables_wrapper pre-scrollable card-body m-1 p-1" style="background-color: white">
        <div>
            <div id="dataTable_wrapper" class="dataTables_wrapper">
                <table class="table table-bordered dataStyle dataTable" id="dataTable">
                    <thead>
                        <tr>
                            <th width="35%">Mã nhóm</th>
                            <th width="35%">Tên nhóm người dùng</th>
                            <th style="text-align: center">Thao tác</th>
                        </tr>
                    </thead>

                    @foreach (var item in Model)
                    {
                        <tr>
                            <td style="vertical-align: middle;">
                                @Html.DisplayFor(modelItem => item.MaNhom)
                            </td>
                            <td style="vertical-align: middle;">
                                @Html.DisplayFor(modelItem => item.TenNhom)
                            </td>
                            <td style="text-align:center">
                                <a href="@Url.Action("Edit", "NHOMNGUOIDUNGs", new {area ="Admin", id = item.MaNhom})">Sửa thông tin</a>
                            </td>
                        </tr>}
                </table>
            </div>
        </div>
    </div>
</div>