@model QLDKMH_CNPM.Models.NHOMNGUOIDUNG

@{ ViewBag.Title = "Delete";
    Layout = "~/Areas/Admin/Views/Shared/AdminLayout.cshtml"; }

<h3 class="text-left text-danger controllerStyle">XÓA THÔNG TIN NHÓM NGƯỜI DÙNG</h3>
<hr />
<div class="generalStyle" style="font-weight:100;">
    <table class="table" style="width: 100%;">
        <tbody>
            <tr style="color:white; background-color:#4e37df">
                <th width="50%">Mã nhóm</th>
                <td width="50%">@Html.DisplayFor(model => model.MaNhom)</td>
            </tr>
            <tr class="bg-light" style="color:black;">
                <th>Tên nhóm người dùng</th>
                <td>@Html.DisplayFor(model => model.TenNhom)</td>
            </tr>
        </tbody>
    </table>
    <hr />

@using (Html.BeginForm())
{
   @Html.AntiForgeryToken()

    <div class="form-actions">
        <h6 class="text-left text-danger controllerStyle">Bạn có muốn xóa thông tin người dùng này?</h6>
        <input type="submit" value="Xóa" class="btn btn-danger btnStyle" />
        @Html.ActionLink("Quay lại", "Index", new { id = Model.MaNhom }, new { @class = "btn btn-primary btnStyle" })
    </div>}
</div>
