@model QLDKMH_CNPM.Models.NHOMNGUOIDUNG

@{
    ViewBag.Title = "Details";
    Layout = "~/Areas/Admin/Views/Shared/AdminLayout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>NHOMNGUOIDUNG</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.TenNhom)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TenNhom)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.MaNhom }) |
    @Html.ActionLink("Back to List", "Index")
</p>
