@model QLDKMH_CNPM.Models.CT_PHIEU_DKHP

@{
    ViewBag.Title = "Delete";
    Layout = "~/Areas/PDT/Views/Shared/PDTLayout.cshtml";
}

<h4 class="mb-1 text-left text-danger controllerStyle">Bạn có chắc muốn xóa môn học này không?</h4>
<hr/>
<table class="table generalStyle card-body table-bordered dataTable dataStyle" style="color: black; font-size: 1rem">
    <tr>
        <th>
            Mã môn học
        </th>
        <td>
            @Model.DS_MONHOC_MO.MaMonHoc
        </td>
    </tr>
    <tr>
        <th>
            Tên môn học
        </th>
        <td>
            @Model.DS_MONHOC_MO.MONHOC.TenMonHoc
        </td>
    </tr>
</table>
@if (ViewBag.Message == "Sai")
{
    <div class="alert alert-danger generalStyle" style="color: black; font-size: 1rem">Xóa thất bại! </div>
}
    <div>
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

        <div class="form-actions generalStyle">
            <input type="submit" value="Xóa" class="btn btn-danger btnStyle" />
            @Html.ActionLink("Hủy", "Details", "PHIEU_DKHP", new { @id = Model.SoPhieuDKHP }, new { @class = "btn btn-primary btnStyle" })
        </div>
    }
</div>